body {
  margin: 0;
  font-family: 'Roboto';
}

.clearfix::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.horizontal-pad {
  margin-left: 10px;
  margin-right: 10px;
}

.vertical-pad {
  margin-top: 10px;
  margin-bottom: 10px;
}
